@font-face {
    font-family: 'lemon';
    src: url(../fonts/lemon_milk/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: 'gotham';
    src: url(../fonts/gotham/GothamRounded-Book.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Nunito', sans-serif;
    background-color: #111111;
    padding: 65px;
}

.days {
    display: inline;
    position: relative;
    top: 145px;
    right: 10px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.horas {
    display: inline;
    position: relative;
    top: 145px;
    left: 53px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.min {
    display: inline;
    position: relative;
    top: 145px;
    left: 85px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.seg {
    display: inline;
    position: relative;
    top: 145px;
    left: 102px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}

.countdown {
    display: flex;
    position: relative;
    color: #fff;
    margin-right: 1380px;
    margin-top: 110px;
    padding: 100px;
}

article,
.countdown {
    margin-left: 355px;
    text-align: center;
    font-size: 35px;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

p {
    font-family: 'gotham';
    font-size: 18px;
    color: #fff;
    text-align: left;
    margin-top: 80px;
    margin-left: -395px;
    width: 50%;
}

picture img {
    padding: 10px;
    width: 30%;
    height: auto;
    position: relative;
    bottom: 720px;
    right: 540px;
}

#formata {
    position: relative;
    width: 50%;
    bottom: 275px;
    left: 10px;
    border-radius: 15px;
    border: solid 3px;
    background-color: cadetblue;
    padding: 0%;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-left: 80px;
}

.modal {
    position: relative;
    bottom: 450px;
    left: 10px;
    width: 100%;
    height: 80vh;

    border-radius: 100px;
    display: grid;
    place-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.modal__description {
    color: #ffffff;
    padding: 35px;
}

.modal:target {
    opacity: 1;
    visibility: visible;
}

.modal__content {
    position: relative;
    top: 1800px;
    left: 250px;
    box-shadow: #5b5b5b 2px 2px 15px;
    background-color: #111111;
    width: 400px;
    padding: 2rem 2rem 1rem;
    border-radius: 4px;
}

.modal__title {
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;
    position: relative;
    left: 10px;
    bottom: 40px;


}

.modal__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(26, 76, 102, 1) 31%, rgba(26, 121, 168, 1));
    color: #ffffff;
    padding: 0.7rem 3rem;
    margin-top: 1rem;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 80px;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
}

.campo input {
    letter-spacing: 2px;
    width: 100%;
    color: white;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid white;
    width: 300px;
    margin-bottom: 10px;
    position: relative;
    left: 130px;
    bottom: 45px;
    padding: 10px 10px;
    outline: none;
    background-color: #111111;
}

.campo label {
    color: #ffffff;
    font-weight: bolder;
    display: block;
    font-size: 17px;
    position: relative;
    left: 135px;
    bottom: 50px;
    text-align: left;
    font-family: 'gotham';

}

input,
button {
    border-radius: 5px;
    padding: 3px;
}

.correcao {
    margin-top: 10px;
}

a.modal__link {
    margin-left: -15px;
}

.btn /* Botao para abrir modal */{
    font-size: 1.2em;
    font-weight: bolder;
    background: rgb(26, 76, 102);
    background: linear-gradient(90deg, rgba(26, 76, 102, 1) 31%, rgba(26, 121, 168, 1));
    border-radius: 2px;
    margin-top: 18px;
    color: #fff;
    width: 50%;
    padding: 0.2rem 0.6rem;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

a.fmt {

    color: #fff;
    font-size: 18px;
    margin-left: 325px;
    padding: 10px 15px;


}

p#my-form-status {
    margin-left: 500px;
    margin-top: -7vh;

}
a button{
padding: 20px;
display: flex;
align-items: center;
justify-content: space-around;
}


div button {
    background: rgb(26, 76, 102);
    background: linear-gradient(90deg, rgba(26, 76, 102, 1) 31%, rgba(26, 121, 168, 1));
    color: #fff;
    font-family: 'lemon';
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-left: 120px;
    position: relative;
    left: 55px;
    bottom: 20px;
    width: 50%;
    margin-top: 1vh;

}


/* Formatação das imagens social */
.social {
    width: 14px;
    position: relative;
    bottom: 500px;
    right: 907px;
    padding: 1px;

}

.social-2 {
    width: 2%;
    position: relative;
    bottom: 500px;
    right: 820px;
    padding: 1px;
}

.social-3 {
    width: 2%;
    position: relative;
    bottom: 500px;
    right: 995px;
    padding: 1px;
}

/* Fim da formatação dos icones sociais */

/* Inicio da área de video */

h3 {
    color: #fff;
    font-size: 25px;
    font-family: 'lemon';
    position: relative;
    bottom: 1040px;
    text-align: center;
}

iframe {
    position: relative;
    bottom: 1050px;
    width: 80%;
    height: 80vh;
    left: 130px;
    background-color: #fff;
}

.comprar {
    background: rgb(26, 76, 102);
    background: linear-gradient(90deg, rgba(26, 76, 102, 1) 31%, rgba(26, 121, 168, 1));
    position: relative;
    bottom: 2300px;
    left: 360px;
    width: 20%;
    padding: 10px;
    font-family: 'lemon';

}

.compre {
    width: 15%;
    font-family: 'lemon';
    position: absolute;
    top: 1450px;
    left: 530px;

}

a.comprar {
    background-color: #ffffff;
}

/* Fim da área de video */

/*Área do podcast */

.podcast-1 {
    list-style: none;
    display: inline-block;
    position: relative;

    left: 230px;
    bottom: 790px;
    color: #ffffff;
}

.podcast- {
    list-style: none;
    display: inline-block;

    position: relative;

    bottom: 2250px;
    left: 280px;
    color: #ffffff;
}

.spot {

    width: 10%;
    height: 75%;
    position: relative;
    left: 50px;
    top: 12px;

}

.container {
    color: #fff;
    position: relative;
    bottom: 760px;
    display: flex;
    padding: 100px;
    background: rgb(26, 76, 102);
    background: linear-gradient(90deg, rgba(26, 76, 102, 1) 31%, rgba(26, 121, 168, 1));
    border-radius: 170px;
    height: 85%;

}

a h6 {
    position: relative;
    left: 115px;
    top: 5px;
    font-size: 14px;
    font-family: 'gotham';

}

ul li {
    position: relative;
    left: 60px;
    font-size: 16px;
    padding: 10px;
    font-family: 'gotham';
}

.descricao {
    font-size: 16px;
    width: 100%;
    position: relative;
    right: 50px;
    font-family: 'gotham';
}

h2 {
    position: relative;
    left: 100px;
    bottom: 70px;
    font-family: 'lemon';
    font-size: 20px;
}

/*  Fim da área do podcast */

/* Área de compra */

.cursos {
    position: absolute;
    top: 2400px;
    left: 450px;
}

.cursos__vendas {
    width: 18%;
    height: 6vh;
    position: absolute;
    top: 410px;
    margin-left: -310px;

}

.cursos__title {
    position: relative;
    left: -250px;
    top: 20px;
    font-size: 22px;
    color: #fff;
    font-family: 'lemon';
}





/* Fim da área de compra */

/* Formulario */
a.btn {
    width: 20%;
    position: relative;
    top: 1800px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'gotham';

}

/* Fim do formulario */
@media screen and (min-width: 300px) {}